body, html {
  	font-family: Sans-serif	;
  	height: 100%;
  	font-size: 14px;
  	margin: 0%;
}
.parallax{
  /* Full height */
	height: 100%; 
	opacity: 0.6;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	transition: 1s;
}

.parallax:hover{
	transition: 1s;
	opacity: 0.9;
}
.poppin {
	background-image: url('../imgs/poppin.png');
}

.afterglow {
	background-image: url('../imgs/afterglow.png');
}

.pastel{
	background-image: url('../imgs/Pastel.png');
}

.roselia{
	background-image: url('../imgs/roselia.jpg');
}

.hellohappyworld{
	background-image: url('../imgs/hellohappyworld.jpg');
}

.morfonica{
	background-image: url('../imgs/Morfonica.png');
}

.raise{
	background-image: url('../imgs/raise.jpg');
}

.titlebar{
  	position: relative;
  	left: 0;
  	top: 50%;
  	width: auto;
  	text-align: center;
  	color: #000;
}
.titlebar .span1{
	background-color: #000000;
  	color: #ffffff;
  	padding: 18px 5% 18px 5%;
  	font-size: 25px;
  	letter-spacing: 9px;
  	border-radius: 9px;
  	transition: 1s;

}

.titlebar .span1:hover{
	background-color: #222222;
	transition: 1s;
	border-left: 8px solid red;
	border-right: 8px solid red;
	padding: 18px 10% 18px 10%;
	letter-spacing: 11px;
}


.paragraph1{
	background-image: url('../imgs/content_back.png');
	opacity: 0.9;
	margin: 0px 0px 0px 0px;
	padding: 2px;
	width: auto;
}

.paragraph1 .content{
	text-align: left;
	padding: 10px;
	margin: 2% 2% 2% 2%;
  	background-color: #111111;
  	border-left: 6px solid #ff4dff;
  	color:#ffffff;
  	font-size: 1.1rem;
}


.footer{
	background-color: black;
	border-bottom: 20px solid #666666;
	height: 15%;
	width: 100%;
	color: #ffffff;
	text-align: center;
}

.footer span{
	display: inline-block;
	position: relative;
	left: 0;
	top:15%;
	border-radius: 2px;
	border: 2px solid #ffffff;
	padding: 8px;
}


.footer a{
	text-decoration: none;
	color: #66ccff;
}

.gotop{
	font-size: 1.2rem;
	position: fixed;
	top:92%;
	right: 2%;
	display: block;
	background-color: #111111;
	color: #ffffff;
	border: 2px solid #111111;
	border-radius: 3px;
	padding: 8px 12px 8px 12px;
	cursor: pointer;
}

.header{
	position: fixed;
	display: inline-block;
	height: 80px;
	width: 100%;
	background-color: #333333;
	margin: 0px 0px -3px 0px; 
	z-index: 100;
}

.header img{
	height: 50px;
	width: 110px;
	float: left;
	margin: 16px 25px 16px 16px;
}

.header a{
	float: left;
	font-size: 1.3rem;
	text-decoration: none;
	padding: 4px;
	margin: 25px 10px 25px 25px;
	border-radius: 2px;
	color:#ffffff;
	letter-spacing: 2px;
}

.linkpoppin:hover{
	color:#ffffff;
	background-color: #ff66ff;
	transition: 0.2s;
}

.linkafterglow:hover{
	color:#ffffff;
	background-color: #ff0000;
	transition: 0.2s;
}

.linkpastel:hover{
	color:#000000;
	background-color: #66ffcc;
	transition: 0.2s;
}

.linkroselia:hover{
	color:#ffffff;
	background-color: #8600FF;
	transition: 0.2s;
}

.linkhello:hover{
	color:#000000;
	background-color: #ffff00;
	transition: 0.2s;
}

.linkmorfonica:hover{
	color:#000000;
	background-color: #66ccff;
	transition: 0.2s;
}

.linkraise:hover{
	color:#000000;
	background-color: #66ffcc;
	transition: 0.2s;
}